.container {
    width: 650px;
    background-color: #c2cad0;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

h1, p {
    text-align: center;
    color: #0074d9;
    font-family: monospace;
}

#rows {
    padding: 5px;
}

.row1 {
    background-color: #000000;
}

.row2 {
    background-color: #bb2222;
}

.row3 {
    background-color: #3943cf;
}

.texture {
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

img {
    height: 150px;
    margin: 10px;
    padding: 10px;
}