* {
    padding: 0px;
    margin: 0px;
}

.container {
    font-family: cursive;
    width: 750px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.top {
    background-color: #3b92a1;
    height: 100px;
    display: flex;
    position: relative;
}

.profilePic > img {
    width: 100px;
    height: 100px;
    position: absolute;
}

.profilePic {
    border-style: solid;
    border-color: grey;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    top: 40px;
    left: 50px;
}

.bottom {
    padding-top: 50px;
    padding-left: 50px;
    border: solid grey;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
}

h1, h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.marker, .gear {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.info {
    padding-bottom: 10px;
}

.marker > img, .gear > img {
    width: 20px;
}